/* estilos.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.container {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form label {
    display: block;
    margin-top: 10px;
    color: #555;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 9px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #2178eb;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #3689f5;
}

p {
    margin-top: 15px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.success {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.error {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

  